asgiref==3.8.1
certifi==2024.8.30
chardet==5.2.0
charset-normalizer==3.3.2
colorama==0.4.6
crispy-bootstrap5==2024.2
defusedxml==0.7.1
Django==5.1
django-crispy-forms==2.3
django-seed==0.3.1
djangorestframework==3.15.2
et-xmlfile==1.1.0
Faker==28.4.1
httpie==3.2.3
idna==3.8
markdown-it-py==3.0.0
mdurl==0.1.2
multidict==6.0.5
openpyxl==3.1.5
pillow==10.4.0
psycopg2==2.9.9
Pygments==2.18.0
PySocks==1.7.1
python-dateutil==2.9.0.post0
reportlab==4.2.2
requests==2.31.0
requests-toolbelt==1.0.0
rich==13.8.0
setuptools==74.1.2
six==1.16.0
sqlparse==0.5.1
toposort==1.10
tzdata==2024.1
urllib3==2.2.2
