{% extends "base.html" %}

{% block title %}
    <title>MonEtab - User</title>
{% endblock title %}

<!-- Container -->
{% block container %}

    <div class="container">
        <div class="page-inner">
            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="alert-success" style="color: rgb(0, 255, 13);">{{ message }}</div>
                {% endfor %}
            </div>
            {% endif %}
            <div class="page-header">
                <h3 class="fw-bold mb-3">Liste des Utilisateur</h3>
                <ul class="breadcrumbs mb-3">
                    <li class="nav-home">
                        <a href="#">
                            <i class="fas fa-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="fas fa-angle-right"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">Utilisateur</a>
                    </li>
                    <li class="separator">
                        <i class="fas fa-angle-right"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">Liste des Utilisateurs</a>
                    </li>
                </ul>
            </div>
            
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex align-items-center">
                                <h4 class="card-title">Liste des Utilisateur</h4>
                                <button class="btn btn-primary btn-round ms-auto"  id="addButton" >
                                    <i class="fa fa-plus"></i>
                                    Ajouter un Utilisateur
                                </button>
                            </div>
                        </div>
                        <div class="card-body">

                            <div class="table-responsive">
                                <table id="add-row" class="display table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>Pseudo</th>
                                            <th>Ecole</th>
                                            <th>Rôle</th>
                                            <th>Date de création</th>
                                            <th>Status</th>
                                            <th style="width: 10%; text-align: center;">Action</th>
                                        </tr>
                                    </thead>

                                    <tfoot>
                                        <tr>
                                            <th>Pseudo</th>
                                            <th>Ecole</th>
                                            <th>Rôle</th>
                                            <th>Date de création</th>
                                            <th>Status</th>
                                            <th style="width: 10%; text-align: center;">Action</th>
                                        </tr>   
                                    </tfoot>
                                    <tbody>
                                    {% for user in users %}
                                        <tr>
                                            <td>{{ user.username|capfirst}}</td>
                                            <td>{% if user.school %} {{ user.school }} {% else %} Aucune {% endif %}</td>
                                            <td>
                                                {% if user.role.all %}   
                                                    {% for role in user.role.all %}
                                                        {{ role.role }}{% if not forloop.last %}, {% endif %}
                                                    {% endfor %}
                                                {% else %}
                                                    Aucun
                                                {% endif %}
                                            </td>
                                            <td>{{ user.date_joined|date:"D d M Y"}}</td>
                                            <td>{% if user.is_active %}  
                                                    <span class="badge badge-success">Actif</span>
                                                {% else %} 
                                                    <span class="badge badge-danger">Inactif</span> 
                                                {% endif %}
                                            </td>
                                            <td>
                                                <div class="form-button-action">
                                                    <button type="button" data-bs-toggle="tooltip" title="Modifier" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task">
                                                        <a href="{% url 'user:edit_user' user.id  %}">
                                                            <i class="fa fa-edit"></i>
                                                        </a>
                                                    </button>
                                                    {% if user.is_active %}
                                                      <button type="button" class="btn nav-link btn-danger btn-link rounded btn-lg" data-bs-toggle="tooltip" data-id="{{user.id}}" onclick="showModal(this)" title="Bloquer">Désactiver</button>
                                                    {% else %}
                                                      <button type="button" class="btn nav-link btn-success btn-link btn-lg" data-bs-toggle="tooltip" data-id="{{user.id}}" onclick="showModalActivate(this)" title="Activer">Activer</button>
                                                    {% endif %}

                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="modal">
        <div class="modal-content">
            <h2>ATTENTION !!</h2>
            <p>Voulez-vous vraiment désactivez le compte de cet utilisateur ?</p>
            <button onclick="closeModal()">Non</button>
            <button onclick="confirmDelete()">Oui</button>
        </div>
    </div>
    <div class="modal" id="modal_activation">
        <div class="modal-content">
            <h2>ATTENTION !!</h2>
            <p>Voulez-vous activer le compte de cet utilisateur ?</p>
            <button onclick="closeModal()">Non</button>
            <button onclick="confirmActivate()">Oui</button>
        </div>
    </div>
{% endblock container %}
<!-- End Container -->

{% block script %}
    <script>
        $(document).ready(function () {
            $('#addButton').click(function () {
                window.location.href = "{% url 'user:add_user' %}";
            });
            $('#add-row').DataTable({
            pageLength: 5,
            });
        });
    </script>
    <script>
        let Id;

        function showModal(buttonElement) {
            Id = buttonElement.getAttribute('data-id');  
            document.getElementById('modal').style.display = 'flex';  
        }

        function showModalActivate(buttonElement) {
            Id = buttonElement.getAttribute('data-id');  
            document.getElementById('modal_activation').style.display = 'flex';  
        }                

        function closeModal() {
            document.getElementById('modal').style.display = 'none';     
            document.getElementById('modal_activation').style.display = 'none';     
        }

        function confirmDelete() {
            closeModal();
            window.location.href = "{% url 'user:deactivate_user' 0 %}".replace(0, Id);
        }
        function confirmActivate() {
            closeModal();
            window.location.href = "{% url 'user:activate_user' 0 %}".replace(0, Id);
        }
    </script>
{% endblock script %}