<!-- Custom template | don't include it in your project! -->
<div class="custom-template">
  <div class="title">Paramètre Couleur</div>
  <div class="custom-content">
    <div class="switcher">
      <div class="switch-block">
        <h4>Entête Navigation</h4>
        <div class="btnSwitch">
          <button type="button" class="selected changeTopBarColor" data-color="dark"></button>

          <button type="button" class="changeTopBarColor" data-color="white"></button>

          <button type="button" class="changeTopBarColor" data-color="dark2"></button>

        </div>
      </div>
      <div class="switch-block">
        <h4>Barre de Navigation</h4>
        <div class="btnSwitch">
          <button type="button" class="changeSideBarColor" data-color="white"></button>

          <button type="button" class="selected changeSideBarColor" data-color="dark"></button>

          <button type="button" class="changeSideBarColor" data-color="dark2"></button>

        </div>
      </div>
    </div>
  </div>
  <div class="custom-toggle">
    <i class="icon-settings"></i>
  </div>
</div>
<!-- End Custom template -->