{% load static %}

{% url 'dashboard:index' as dashboard_index_url %}
{% url 'setting:edit_setting' as edit_setting_url %}
{% url 'teacher:add_teacher' as add_teacher_url %}
{% url 'teacher:list_teacher' as list_teacher_url %}
{% url 'student:add_student' as add_student_url %}
{% url 'student:list_student' as list_student_url %}
{% url 'student_cards:list_student_card' as list_student_card_url %}
{% url 'student_cards:add_student_card' as add_student_card_url %}
{% url 'absence:add_absence' as add_absence_url %}
{% url 'absence:list_absence' as list_absence_url %}
{% url 'adress:list_adress' as list_adress_url %}
{% url 'adress:add_adress' as add_adress_url %}
{% url 'role_user:add_role_user' as add_role_user_url %}
{% url 'role_user:list_role_user' as list_role_user_url %}
{% url 'user:list_user' as list_user_url %}
{% url 'user:add_user' as add_user_url %}
{% url 'report:index' as report_index_url %}
{% url 'school:edit_school' as edit_school_url %}

<div class="sidebar" data-background-color="dark">
    <div class="sidebar-logo">
        <!-- Logo Header -->
        <div class="logo-header" data-background-color="white">
            <a href="{% url 'dashboard:index' %}" class="logo">
                <img src="{% static 'assets/img/kaiadmin/logo_dark.png' %}" alt="navbar brand" class="navbar-brand" width="200" height="60"/>
            </a>
            <div class="nav-toggle">
                <button class="btn btn-toggle toggle-sidebar">
                    <i class="gg-menu-right"></i>
                </button>
                <button class="btn btn-toggle sidenav-toggler">
                    <i class="gg-menu-left"></i>
                </button>
            </div>
            <button class="topbar-toggler more">
                <i class="gg-more-vertical-alt"></i>
            </button>
        </div>
        <!-- End Logo Header -->
    </div>
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <ul class="nav nav-secondary">
                <li class="nav-item {% if request.path == dashboard_index_url %}active{% endif %}">
                    <a href="/" class="collapsed" aria-expanded="true">
                        <i class="fas fa-home"></i>
                        <p> Tableau de bord </p>
                    </a>
                </li>
                <li class="nav-section">
                <span class="sidebar-mini-icon">
                  <i class="fa fa-ellipsis-h"></i>
                </span>
                    <h4 class="text-section">Navigation</h4>
                </li>
                <li class="nav-item {% if request.path == add_teacher_url or request.path == list_teacher_url %} active {% endif %}">
                    <a data-bs-toggle="collapse" href="#base">
                        <i class="fas fa-layer-group"></i>
                        <p> Professeur </p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="base">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="{% url 'teacher:add_teacher' %}">
                                    <span class="sub-item">Nouveau Professeur</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'teacher:list_teacher' %}">
                                    <span class="sub-item">Liste des Professeurs</span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </li>

                <li class="nav-item {% if request.path == add_student_url or request.path == list_student_url %}active{% endif %}">
                    <a data-bs-toggle="collapse" href="#sidebarLayouts">
                        <i class="fas fa-layer-group"></i>
                        <p> Elève </p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="sidebarLayouts">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="{% url 'student:add_student' %}">
                                    <span class="sub-item">Nouvel Elève</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'student:list_student' %}">
                                    <span class="sub-item">Liste des Elèves</span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </li>

                <li class="nav-item {% if request.path == add_student_card or request.path == list_student_card_url %}active{% endif %}">
                    <a data-bs-toggle="collapse" href="#mserv">
                        <i class="fas fa-layer-group"></i>
                        <p> Carte Elève </p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="mserv">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="{% url 'student_cards:add_student_card' %}">
                                    <span class="sub-item">Nouvelle Carte</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'student_cards:list_student_card' %}">
                                    <span class="sub-item">Liste des Cartes</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item {% if request.path == add_absence_url or request.path == list_absence_url %}active{% endif %}">
                    <a data-bs-toggle="collapse" href="#sub">
                        <i class="fas fa-layer-group"></i>
                        <p> Absence </p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="sub">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="{% url 'absence:add_absence' %}">
                                    <span class="sub-item">Nouvelle Absence</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'absence:list_absence' %}">
                                    <span class="sub-item">Liste des Absences</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item {% if request.path == add_adress_url or request.path == list_adress_url %}active{% endif %}">
                    <a data-bs-toggle="collapse" href="#mape">
                        <i class="fas fa-layer-group"></i>
                        <p> Adresse </p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="mape">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="{% url 'adress:add_adress' %}">
                                    <span class="sub-item">Nouvelle Adresse</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'adress:list_adress' %}">
                                    <span class="sub-item">Liste des Adresses</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item {% if request.path == add_role_user_url or request.path == list_role_user_url %}active{% endif %}">
                    <a data-bs-toggle="collapse" href="#mapee">
                        <i class="fas fa-layer-group"></i>
                        <p> Rôle Utilisateur </p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="mapee">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="{% url 'role_user:add_role_user' %}">
                                    <span class="sub-item">Nouveau rôle</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'role_user:list_role_user' %}">
                                    <span class="sub-item">Liste des rôles</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item {% if request.path == add_user_url or request.path == list_user_url %}active{% endif %}">
                    <a data-bs-toggle="collapse" href="#mpee">
                        <i class="fas fa-layer-group"></i>
                        <p> Utilisateur </p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="mpee">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="{% url 'user:add_user' %}">
                                    <span class="sub-item">Nouvel Utilisateur</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'user:list_user' %}">
                                    <span class="sub-item">Liste des Utilisateurs</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
 
                <li class="nav-item {% if request.path == report_index_url %}active{% endif %}">
                    <a href="{% url 'report:index' %}" class="collapsed" aria-expanded="true">
                        <i class="fas fa-file"></i>
                        <span class="sub-item">Rapports</span>
                    </a>
                </li>

                <li class="nav-item {% if request.path == edit_school_url %}active{% endif %}">
                    <a href="{% url 'school:edit_school' %}" class="collapsed" aria-expanded="true">
                        <i class="icon-settings"></i>
                        <span class="sub-item">Paramètre de l'Ecole</span>
                    </a>
                </li>

                <li class="nav-item {% if request.path == edit_setting_url %}active{% endif %}">
                    <a href="{% url 'setting:edit_setting' %}" class="collapsed" aria-expanded="true">
                        <i class="icon-settings"></i>
                        <span class="sub-item">Paramètre d'application</span>
                    </a>
                </li>
                
            </ul>
        </div>
    </div>
</div>