{% load static %}

<div class="sidebar" data-background-color="dark">
    <div class="sidebar-logo">
        <!-- Logo Header -->
        <div class="logo-header" data-background-color="white">
            <a href="{% url 'dashboard:index' %}" class="logo">
                <img src="{% static 'assets/img/kaiadmin/logo_dark.png' %}" alt="navbar brand" class="navbar-brand" width="200" height="60"/>
            </a>
            <div class="nav-toggle">
                <button class="btn btn-toggle toggle-sidebar">
                    <i class="gg-menu-right"></i>
                </button>
                <button class="btn btn-toggle sidenav-toggler">
                    <i class="gg-menu-left"></i>
                </button>
            </div>
            <button class="topbar-toggler more">
                <i class="gg-more-vertical-alt"></i>
            </button>
        </div>
        <!-- End Logo Header -->
    </div>
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <ul class="nav nav-secondary">
                <li class="nav-item active">
                    <a href="/" class="collapsed" aria-expanded="true">
                        <i class="fas fa-home"></i>
                        <p> Tableau de bord </p>
                    </a>
                </li>
                <li class="nav-section">
                <span class="sidebar-mini-icon">
                  <i class="fa fa-ellipsis-h"></i>
                </span>
                    <h4 class="text-section">Navigation</h4>
                </li>
                <li class="nav-item">
                    <a data-bs-toggle="collapse" href="#base">
                        <i class="fas fa-layer-group"></i>
                        <p> Professeur </p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="base">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="{% url 'teacher:add_teacher' %}">
                                    <span class="sub-item">Nouveau Professeur</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'teacher:list_teacher' %}">
                                    <span class="sub-item">Liste des Professeurs</span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <a data-bs-toggle="collapse" href="#sidebarLayouts">
                        <i class="fas fa-layer-group"></i>
                        <p> Elève </p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="sidebarLayouts">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="{% url 'student:add_student' %}">
                                    <span class="sub-item">Nouvel Elève</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'student:list_student' %}">
                                    <span class="sub-item">Liste des Elèves</span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <a data-bs-toggle="collapse" href="#mserv">
                        <i class="fas fa-layer-group"></i>
                        <p> Carte Elève </p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="mserv">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="{% url 'student_cards:add_student_card' %}">
                                    <span class="sub-item">Nouvelle Carte</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'student_cards:list_student_card' %}">
                                    <span class="sub-item">Liste des Cartes</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <a data-bs-toggle="collapse" href="#sub">
                        <i class="fas fa-layer-group"></i>
                        <p> Absence </p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="sub">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="{% url 'absence:add_absence' %}">
                                    <span class="sub-item">Nouvelle Absence</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'absence:list_absence' %}">
                                    <span class="sub-item">Liste des Absences</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <a data-bs-toggle="collapse" href="#maps">
                        <i class="fas fa-layer-group"></i>
                        <p> Ecole </p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="maps">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="{% url 'school:add_school' %}">
                                    <span class="sub-item">Nouvelle Ecole</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'school:list_school' %}">
                                    <span class="sub-item">Liste des Ecoles</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <a data-bs-toggle="collapse" href="#mape">
                        <i class="fas fa-layer-group"></i>
                        <p> Adresse </p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="mape">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="{% url 'adress:add_adress' %}">
                                    <span class="sub-item">Nouvelle Adresse</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'adress:list_adress' %}">
                                    <span class="sub-item">Liste des Adresses</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <a data-bs-toggle="collapse" href="#mapee">
                        <i class="fas fa-layer-group"></i>
                        <p> Rôle Utilisateur </p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="mapee">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="{% url 'role_user:add_role_user' %}">
                                    <span class="sub-item">Nouveau rôle</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'role_user:list_role_user' %}">
                                    <span class="sub-item">Liste des rôles</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <a data-bs-toggle="collapse" href="#mpee">
                        <i class="fas fa-layer-group"></i>
                        <p> Utilisateur </p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="mpee">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="{% url 'user:add_user' %}">
                                    <span class="sub-item">Nouvel Utilisateur</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'user:list_user' %}">
                                    <span class="sub-item">Liste des Utilisateurs</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <a data-bs-toggle="collapse" href="#map">
                        <i class="icon-settings"></i>
                        <p> Paramètre d'application </p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="map">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="{% url 'setting:add_setting' %}">
                                    <span class="sub-item">Nouveau Paramètre</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'setting:list_setting' %}">
                                    <span class="sub-item">Liste des Paramètres</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</div>