{% extends "base.html" %}

{% block title %}
    <title>MonEtab - School</title>
{% endblock title %}

<!-- Container -->
{% block container %}

    <div class="container">
        <div class="page-inner">
            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="alert-success" style="color: rgb(0, 255, 13);">{{ message }}</div>
                {% endfor %}
            </div>
            {% endif %}
            <div class="page-header">
                <h3 class="fw-bold mb-3">Liste des Ecoles</h3>
                <ul class="breadcrumbs mb-3">
                    <li class="nav-home">
                        <a href="/">
                            <i class="icon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="icon-arrow-right"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">Ecole</a>
                    </li>
                    <li class="separator">
                        <i class="icon-arrow-right"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">Liste des Ecoles</a>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <!-- <div class="card-header">
                            <div class="d-flex align-items-center">
                                <h4 class="card-title">Ecoles</h4>
                                <button class="btn btn-primary btn-round ms-auto"  id="addButton" >
                                    <i class="fa fa-plus"></i>
                                    Ajouter une école
                                </button>
                            </div>
                        </div> -->
                        <div class="card-body">

                            <div class="table-responsive">
                                <table id="add-row" class="display table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>Nom du server SMTP</th>
                                            <th>Nom de l'école</th>
                                            <th>Lien de l'image</th>
                                            <th style="width: 10%">Action</th>
                                        </tr>
                                    </thead>

                                    <tfoot>
                                        <tr>
                                            <th>Nom du server SMTP</th>
                                            <th>Nom de l'école</th>
                                            <th>Lien de l'image</th>
                                            <th style="width: 10%">Action</th>
                                        </tr>   
                                    </tfoot>
                                    <tbody>
                                    {% for school in schools %}
                                        <tr>
                                            <td>{{ school.app_settings.smtp_server  |capfirst }}</td>
                                            <td>{{ school.name|capfirst }}</td>
                                            <td>{{ school.url_logo}}</td>
                                            <td>
                                                <div class="form-button-action">
                                                    <button type="button" data-bs-toggle="tooltip" title="Modifier" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task">
                                                        <a href="{% url 'school:edit_school' school.id  %}">
                                                            <i class="fa fa-edit"></i>
                                                        </a>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock container %}
<!-- End Container -->  