{% extends "base.html" %}

{% block title %}
    <title>MonEtab - Student</title>
{% endblock title %}

<!-- Container -->
{% block container %}

    <div class="container">
        <div class="page-inner">
            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="alert-success" style="color: rgb(0, 255, 13);">{{ message }}</div>
                {% endfor %}
            </div>
            {% endif %}
            <div class="page-header">
                <h3 class="fw-bold mb-3">Liste des Elèves</h3>
                <ul class="breadcrumbs mb-3">
                    <li class="nav-home">
                        <a href="/">
                            <i class="icon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="icon-arrow-right"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">Elève</a>
                    </li>
                    <li class="separator">
                        <i class="icon-arrow-right"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">Nouvel Elève</a>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex align-items-center">
                                <h4 class="card-title">Liste des Elèves</h4>
                                <button class="btn btn-primary btn-round ms-auto"  id="addButton" >
                                    <i class="fa fa-plus"></i>
                                    Ajouter un Elève
                                </button>
                            </div>
                        </div>
                        <div class="card-body">

                            <div class="table-responsive">
                                <table id="add-row" class="display table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>Nom de l'élève</th>
                                            <th>Prénoms de l'élève</th>
                                            <th>Matricule</th>
                                            <th>Genre</th>
                                            <th>Date de Naissance</th>
                                            <th>Téléphone</th>
                                            <th style="width: 10%">Action</th>
                                        </tr>
                                    </thead>

                                    <tfoot>
                                        <tr>
                                            <th>Nom de l'élève</th>
                                            <th>Prénoms de l'élève</th>
                                            <th>Matricule</th>
                                            <th>Genre</th>
                                            <th>Date de Naissance</th>
                                            <th>Téléphone</th>
                                            <th style="width: 10%">Action</th>
                                        </tr>   
                                    </tfoot>
                                    <tbody>
                                    {% for student in students %}
                                        <tr>
                                            <td>{{ student.first_name|capfirst }}</td>
                                            <td>{{ student.last_name|capfirst }}</td>
                                            <td>{{ student.matricule}}</td>
                                            <td>{{ student.gender|capfirst}}</td>
                                            <td>{{ student.birthday|date:"D d M Y"}}</td>
                                            <td>{{ student.phone_number}}</td>
                                            <td>
                                                <div class="form-button-action">
                                                    <button type="button" data-bs-toggle="tooltip" title="Modifier" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task">
                                                        <a href="{% url 'student:edit_student' student.id  %}">
                                                            <i class="fa fa-edit"></i>
                                                        </a>
                                                    </button>
                                                    <button type="button" data-bs-toggle="tooltip" data-id="{{student.id}}" onclick="showModal(this)" title="Supprimer" class="btn btn-link btn-danger" data-original-title="Remove">
                                                        <i class="icon-trash"></i>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="modal">
        <div class="modal-content">
            <h2>ATTENTION !!</h2>
            <p>Voulez-vous vraiment supprimer cet élève ?</p>
            <button onclick="closeModal()">Non</button>
            <button onclick="confirmDelete()">Oui</button>
        </div>
    </div>
{% endblock container %}
<!-- End Container -->

{% block script %}
    <script>
        $(document).ready(function () {
            $('#addButton').click(function () {
                window.location.href = "{% url 'student:add_student' %}";
            });
            $('#add-row').DataTable({
            pageLength: 5,
            });
        });
    </script>
    <script>
        let Id;

        function showModal(buttonElement) {
            Id = buttonElement.getAttribute('data-id');  
            document.getElementById('modal').style.display = 'flex';  
        }

        function closeModal() {
            document.getElementById('modal').style.display = 'none';     
        }

        function confirmDelete() {
            closeModal();   
            window.location.href = "{% url 'student:delete_student' 0 %}".replace(0, Id);
        }
    </script>
{% endblock script %}